/*
@ASSESSME.USERID: ls5273
@ASSESSME.AUTHOR: Lana Sorak
@ASSESSME.ANALYZE: YES
*/

/* Style for horizontal rule */
hr {
    margin: 2em;
    margin-bottom: 3em;
    border-color: #ee0606;
}

/* Main content container */
.main {
    background-color: #E4E5E8;
    padding: 1em;
    padding-bottom: 1em;
    margin-top: 8.5em;
    margin-bottom: 1em;
    margin-left: 15vw;
    margin-right: 15vw;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

/* Styling for h2 headings inside .main */
.main h2 {
    font-family: "Tangerine", cursive;
    font-weight: bold;
    font-size: 300%;
    margin: 0;
    margin-top: 1em;
}

/* Paragraphs and list items inside .main */
.main p, .main ul li {
    font-size: 120%;
    margin: 1em;
}



/* Medium screen adjustments */
@media screen and (max-width: 1024px) {
   .main {
        margin-top: 7em;
    }

    .main p {
        font-size: 110%;;
    }

    .main ul li {
        font-size: 110%;;
    }
}


/* Tablet screen adjustments */
@media screen and (max-width: 768px) {
    .main {
        margin-top: 5.5em;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


/* Mobile screen adjustments */
@media  screen and (max-width: 448px) {
    .main {
        margin-top: 4em;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .main h2 {
        font-size: 250%;
    }
}